@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-drawer-content {
  height: auto !important;
}

.hidden {
  display: none;
}

/* button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; 
  background-color: transparent !important; 
   background-image: none; 
}  */
